:root{
    --white-light: rgba(255, 255, 255, 0.5);
    --alice-blue: #f8f9fa;
    --carribean-green: #40c9a2;
    --gray: #ededed;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Marcellus', serif;
    /* overflow: hidden; */
    /* background-color: red; */
    
}

/******************* NAV MENU *******************/
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    position: fixed;
    top: 0px;
    /* background-color: gray; */
    width: 100%;
    z-index: 1000;
    height: 3rem;
}

.landing-page{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url('../images/background-1.png') no-repeat top center / cover;
    overflow: hidden;
}
.nav-container {
    max-width: 100%;
    padding: 0 5rem;
    /* background-color: #fff; */
    height: 3rem;
    display: flex;
    /* margin: 0 30px; */
    position: relative;
}

.logo-container {
    flex:1;
    /* background-color: red; */
    display: flex;
    align-items: center;
}
.logo {
    font-size: 1.1rem;
}
.nav-btn {
    flex: 1.2;
    /* background-color: green; */
    display: flex;
}
.nav-links {
    flex: 2;
    /* background-color: yellow; */
    
}
.log-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: 20px;
    
    /* background-color: orange; */
}
.btn {
    display: inline-block;
    padding: 0.5rem 1.3rem;
    font-size: 0.8rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 0.2rem;
    transition: 0.3s;
    text-transform: uppercase;
}
.btn.solid, .btn.transparent:hover {
    background-color: #fff;
}
.btn.transparent, .btn.solid:hover {
    background-color: transparent;
}
.nav-links > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link {
    position: relative;
}
.nav-link > a {
    line-height: 3rem;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    color: #fff;
}
.nav-link > a > i {
    margin-left: .3rem;
}
.nav-link:hover > a {
    transform: scale(1.1);
}
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(4px);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    
}
.dropdown ul {
    position: relative;
}
.dropdown-link > a {
    background-color: #50978e;
    display: flex;
    padding: .5rem 1rem;
    font-size: .9rem;
    transition: .3s;
    /* align-items: center; */
    /* justify-content: space-around; */
}
.dropdown-link:hover > a {
    background-color: #c8fcf4;
    color: #000;

}

.dropdown-link i {
    margin-left: auto;
    transform: rotate(-90deg);
}
.arrow {
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #50978e;
    transform: rotate(45deg);
    cursor: pointer;
    z-index: -1;
}
.dropdown-link:first-child:hover ~ .arrow {
    background-color: #c8fcf4;
}
.dropdown-link {
    position: relative;
}
.dropdown.second {
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}
.dropdown.second .arrow {
    top: 10px;
    left: -5.5px;
}
.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
    transform: translate(0,0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container {
    flex:1;
    display: none;
    /* background-color: #000; */
    align-items: center;
    justify-content: flex-end;
}
.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger-menu div {
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: 0.5s;
}
.hamburger-menu div:before, 
.hamburger-menu div:after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: 0.5s;
}
.hamburger-menu div:before {
    transform: translateY(-7px);
}
.hamburger-menu div::after {
    transform: translateY(7px);
}
@keyframes animation{
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(10px);
    }
}
#check {
    display: none;
}

/******************** LANDING IMAGE *******************/
.container {
    margin-top: 170px;
}
.landing-page-text {
    font-size: 6rem;
    font-weight: bolder;
    letter-spacing: 1px;
}
.explore-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007b7f;
    font-size: 1.2rem;
}

/******************** BEST SELLING PRODUCTS PAGE *******************/

.best-selling-page {
    position: relative;
    height: 100vh;
    width: 100%;
    /* background: url('../images/background-2-11.png') no-repeat top center / cover; */
    overflow: visible;
}
.best-selling-page h1 {
    text-align: center;
    margin-bottom: 5%;
}
.product-img {
    position: relative;
    width: auto;
    height: 350px;
    background: red;
    border-radius: 20px;
    overflow: hidden;
    border: 1px black solid;
}
.product-img::before {
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    transform: skewY(345deg);
    transition: 0.5s;
}
.product-img:hover::before {
    top: -70%;
    transform: skewY(390deg);
}
/* .product-img::after {
    content: "Chair";
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 5em;
    color: rgba(0, 0, 0, 0.1);
} */
.product-img .product-box .img-chair {
    max-width: 80%;
    transition: 0.5s;
}
.product-img:hover .product-box .img-chair {
    max-width: 60%;
}
.product-img .product-box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}
.product-img .contentBx {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.product-img .contentBx h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #fff;
}
.product-img .contentBx .price {
    font-size: 18px;
    color:#fff;
    font-weight: bolder;
    letter-spacing: 1px;
}
.product-img .contentBx .buy {
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    background: orange;
    border-radius: 30px;
    transition: 0.5s;
}
.product-img:hover .contentBx .buy {
    top: 0;
    opacity: 1;
}
/******************** FEATURED PRODUCTS ***************/
.featured-product-img img {
    width: 100%;
    display: block;
}
.featured-container {
    width: 83vw;
    margin: 0 auto;
}
.lg-title,
.md-title,
sm-title {
    padding: .6rem 0;
    text-transform: uppercase;
}
.lg-title {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0;

}
.sm-title {
    font-weight: light;
    text-transform: uppercase;
}
.md-title {
    font-size: 2rem;
}
.text-light {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    margin: .4rem 0;
}
.featured-products {
    background: aliceblue;
    padding: 3.2rem 0;
}
.featured-products .text-dark {
    color: #000;
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}
.featured-product {
    margin: 2rem;
    position: relative;
}
.featured-product-content {
    background: gray;
    padding: 3rem .5rem 2rem .5rem;
    cursor: pointer;
}
.featured-product-img {
    background: beige;
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background .5s ease;
}
.product-btns {
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 0;
    transition: opacity .6s ease
}
.btn-cart, .btn-buy-now {
    background: transparent;
    border: 1px solid #000;
    padding: .8rem 0;
    width: 125px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
}
.btn-cart {
    background: pink;

}
.btn-cart:hover {
    background: yellow;
    color: #000;
}
.btn-buy-now {
    background: #fff;
}
.btn-buy-now:hover {
    background: #50978e;
}
.product-info {
    background: yellow;
    padding: 2rem;
}
.product-info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating span {
    color: green;
}
.product-name {
    color: black;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.product-price {
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}
.product-price:first-of-type {
    text-decoration: line-through;
    color: pink;
}
.featured-product-img img {
    transition: transform 0.6s ease;
}
.featured-product:hover .featured-product-img img {
    transform: scale(1.1);
}
.featured-product:hover .featured-product-img {
    background: #40c9a2;
}
.featured-product:hover .product-btns {
    opacity: 1;
}
.off-info .sm-title {
    background: #007b7f;
    color: #fff;
    display: inline-block;
    padding: .5rem;
    position:absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    cursor: pointer;
}
/******************** MEDIA QUERIES FOR FEATURED PRODUCTS *******************/
@media screen and (min-width: 992px) {
    .featured-product-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}
@media screen and (min-width: 1200px) {
    .featured-product-items {
        grid-template-columns: repeat(3, 1fr);
    }
    .featured-product {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .featured-products .text-dark {
        width: 50%;
    }
}

/******************** MEDIA QUERIES *******************/
/*PHONE*/
@media screen and (max-width: 920px) {
    .container {
        text-align: center;
        margin-top: 50px;
        
    }
    .chair-bg {
        position: relative;
        height: 30vh;
        width: 45vh;
        padding: 30px;
        margin: auto;
        
    }
    .landing-page-text {
        color: #fff;
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 20px;
    }
    .landing-sub-one {
        font-size: 1rem;
        color: #dddddd;
    }
    .landing-sub-two {
        font-size: 1rem;
        color: #dddddd; 
    }
    .landing-sub-three {
        font-size: 0.7rem;
        color: #dddddd;
    }

    .logo {
        color: #fff;
    }
    .landing-page{
        position: relative;
        height: 100vh;
        width: 100%;
        background: url('../images/background-mobile-16.png') no-repeat top center / cover;
        overflow: hidden;
    }
    .nav-btn {
        position:fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: #007b7f;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }
    #check:checked ~ .nav-btn {
        transform: translateX(0);
    }
    #check:checked ~ .nav-btn .nav-link,
    #check:checked ~ .nav-btn .log-sign {
        animation: animation .5s ease forwards var(--i);
    }
    .nav-links {
        flex: initial;
        width: 100%;
        /* background-color: red; */
    }
    .nav-links > ul {
        flex-direction: column ;
    }
    .nav-link {
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }
    .nav-link > a {
        line-height: 1;
        padding: 1.6rem 2rem;
       
    }
    .nav-link:hover > a {
        transform: scale(1);
        background-color: #50978e;
    }
    .dropdown, .dropdown.second {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        /* background-color: yellow; */
        display: none;
    }
    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown {
        display: block;
    }
    .nav-link:hover > a > i,
    .dropdown-link:hover > a > i {
        transform: rotate(360deg);
    } 
    .dropdown.second, .dropdown-link > a {
        padding: 1.2rem 2rem 1.2rem 3rem;
    }
    .dropdown-link > a {
        background-color: transparent;
        padding: 1.2rem 2rem;
        line-height: 1;
    }
    .dropdown-link:not(:nth-last-child(2)) {
        border-bottom: none;
    }
    .arrow {
        z-index: 1;
        background-color: #000;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: 0.5s;
    }
    .nav-link:hover .arrow {
        background-color: #50978e;
    }
    .dropdown .dropdown .arrow {
        display:none ;
    }
    .dropdown-link:hover > a {
        background-color: #50978e;
    }
    .dropdown-link:first-child:hover ~ .arrow {
        /* background-color: violet; */
    }
    .nav-link > a > i {
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: 0.7s;
    }
    .dropdown i {
        font-size: 1rem;
        transition: .7s;
    }
    .log-sign {
        flex: initial;
        /* background-color: green; */
        width:100%;
        /* padding: auto 1.9rem; */
        padding-bottom: 50rem;
        flex-direction: column;
       
        justify-content: flex-start;
        opacity: 0;
        transform: translateY(15px);
    }
    .btn {
        margin-top: 30px;
    }
    
    .hamburger-menu-container {
        display: flex;
    }
    .nav-container {
        max-width: 100%;
        padding: 0 2rem;
        /* background-color: #fff; */
        height: 3rem;
        display: flex;
        /* margin: 0 30px; */
        position: relative;
    }
    #check {
        position:absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
        width: 2.5rem;
        height: 2.5rem;
        z-index: 90000;
        cursor: pointer;
        opacity: 0;
        display: block;
    }
    #check:checked ~ .hamburger-menu-container .hamburger-menu div {
        background-color: transparent;
    }
    #check:checked ~ .hamburger-menu-container .hamburger-menu div::before {
        transform: translateY(0) rotate(-45deg);
    }
    #check:checked ~ .hamburger-menu-container .hamburger-menu div::after {
        transform: translateY(0) rotate(45deg);
    }

    /******* BEST SELLING PAGE MOBILE******/
    .product-img .product-box .img-chair {
        max-width: 50%;
        transition: 0.5s;
    }
    .product-img:hover .product-box .img-chair {
        max-width: 40%;
    }
    .product-img {
        width: 80%;
        margin: auto;
        height: 300px;
        /* background-color:green; */
        margin-bottom: 30px;
    }
    .product-img::before {
        display: none;
        width: 100%;
        /* transform: skewY(345deg); */
        transition: 0.5s;
    }
    
    .product-img:hover::before {
        top: -70%;
        transform: skewY(390deg);
    }
}


