*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-bg {
    height: 100%;
    background: url("../images/background-08-08-08.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
nav {
    /* background: #1b1b1b; */
    
}
nav::after {
    content: '';
    clear: both;
    display: table;
}
nav .logo {
    float: left;
    color: rgb(114, 111, 111);
    font-size: 27px;
    background: url("../images/logo-bg-20-20.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bolder;
    line-height: 70px;
    padding-left: 60px;
    padding-right: 60px;
    /* display: none; */
}
nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
nav ul li {
    float: left;
    display: inline-block;
    /* background: #1b1b1b; */
    margin: 0 5px;
    z-index: 9;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}
nav ul li a:hover {
    border-radius: 5px;
    text-decoration: none;
    color: cyan;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;
}
nav ul ul li a:hover {
    color: cyan;
    box-shadow: none;
}
nav ul ul {
    position: absolute;
    top: 90px;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s ;
    border-top: 3px solid cyan;
}
nav ul ul ul {
    border-top: none;
}
nav ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    top: 70px;
}
nav ul ul li {
    position: relative;
    margin: 0;
    width: 100px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    /* border-bottom: 1px solid red*/
} 
nav ul ul li a {
    line-height: 50px;

}
nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;
}
.fa-plus {
    margin-left: 40px;
    font-size: 15px;
}
.show, .icon, input {
    display: none;
}
.chair-img-bg {
    background: url("../images/chair-img-07-07-07.png");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
@media all and (max-width: 968px) {
    .header-bg {
        height: 100%;
        background: url("../images/background-mobile-16.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
    }
    nav ul {
        margin-right: 0;
        float: left;
    }
    nav .logo {
        padding-left: 30px;
        width: 100%;
        background: url("../images/logo-bg-20-20.png");
        width: 20vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;

    }
    nav ul li, nav ul ul li {
        display: block;
        width: 100%;
    }
    nav ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul ul li {
        position: static;
    }
    nav ul ul a{
        padding-left: 40px;
    }
    nav ul ul ul a {
        padding-left: 80px;
    }
    .show {
        display: block;
        color: #fff;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover {
        color: cyan;
    }
    .icon {
        display: block;
        color: #fff;
        position: absolute;
        right: 40px;
        top: 25px;
        font-size: 25px;
        cursor: pointer;
    }
    nav ul li a:hover {
        box-shadow: none;
    }
    .show + a, ul {
        display: none;
    }
    [id^=btn]:checked + ul {
        display: block;
        transition: all ease-out 1s;
    }
}
/* img {
    width: 100vh;
} */
